@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --parchment: rgb(245, 222, 179);
    --primary-text: #3e2723;
    --link: #1565c0;
    --primary-color: rgb(196, 43, 43);
}

/* Body */
body {
    background-color: var(--primary-color); /* parchment */
    color: #3e2723;            /* primary text */
    font-family: 'Lora', serif;
    margin: 0;
    min-height: 80vh;
}

#outerwrapper {
    width: 100%;
    padding: 2rem 0;
    min-height: 80vh;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #f4e3c0;
    height: 100%;
    min-height: 80vh;
    padding-bottom: 2rem;
}

/* Headers */
h1, h2, h3, h4 {
  color: #b71c1c; /* bold crimson for medieval feel */
}

/* Links */
a {
    color: #c62828;
    text-decoration: underline;
}

/* Cards */
.card {
    background-color: #fff0d4; /* brighter parchment for contrast */
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 1rem;
    color: #3e2723;
    width: 20rem;   /* 32 */
    height: 20rem;  /* 32 */
}
.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.card img {
    width: 50%;
    margin: 1rem auto;
    border-radius: 100%;
    object-fit: cover;      /* fill and crop */
    object-position: center;/* try center, or "center 30%" to shift up/down */
    display: block;
}


/* Meta text */
.meta {
    color: #6d4c41;
}

/* Highlights / special items */
.highlight {
    color: #fdd835;
}

/* Buttons / accents */
.btn-green {
    background-color:  var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}
.btn-green:hover {
    background: none;
    color: var(--primary-color);
}

.btn-blue {
    background-color: #1565c0;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.btn-blue:hover {
    background: none;
    color: #1565c0;
}

header {
    background-color: #f5f0e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}